/* TODO:
Responsive navbar!! */


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    letter-spacing: 4px;
    line-height: 2;
    margin: 0 auto;
}

section {
    padding: 10vh 10vw;
}

h2 {
    font-weight: 600;
    font-size: 1.4em;
}

h3 {
    font-weight: 600;
    font-size: 1.2em;
}

a {
    transition: all 0.7s ease-in-out;
}

.bold {
    font-weight: 700;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar__links {
    height: 5vh;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
    font-size: 1.8em;
    font-weight: 400;
}

.navbar__links li {
    margin: 7px;
}

.navbar__links li a {
    transition: all 0.7s ease-in-out;
    color: #FEFEFE;
    border-radius: 2px;
    padding: 3px;
    text-decoration: none;
}

.navbar__links li a:hover {
    background: #FEFEFE;
    color: #1A1A1A;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: #1A1A1A;
    color: #FEFEFE;
    font-size: 3em;
    text-align: center;
}

.header__message {
    font-size: 2.5em;
    font-weight: 600;
}

.header__name {
    margin: 10px 0;
}

.header__description {
    font-weight: 100;
    font-size: 25px;
}

.about-section {
    color: #1A1A1A;
    background-color: #FEFEFE;
}

.about-section__cv__link {
    font-weight: 600;
    margin: 32px 8px;
}

.about-section__cv__link a {
    transition: all 0.7s ease-in-out;
    box-sizing: border-box;
    padding: 8px;
    background: #1A1A1A;
    color: #FEFEFE;
    border-radius: 2px;
    cursor: pointer;
}

.profile__bio {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__bio__anna {
    margin: 16px;
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: solid #1A1A1A 1px;
}

.fac-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.fac-info__header {
    font-weight: bold;
    padding: 8px;
}

.fac-info__img {
    width: 100%;
    height: auto;
    margin: 8px;
    margin-bottom: 16px;
    border: solid #1A1A1A 1px;
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 2px;
    text-align: center;
}

.projects-section {
    background-color: #1A1A1A;
    color: #FEFEFE;
}

.projects-section a {
    margin: 8px;
    color: #FEFEFE;
}

.project {
    margin: 32px 0;
    margin-bottom: 48px;
}

.projects__description {
    margin: 8px 0;
}

.projects__dish__images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__dish__images img {
    width: 70%;
    height: auto;
    margin: 8px;
    border: solid 1px #FEFEFE;
}

.projects__trains__img,
.projects__dreams__img,
.projects__calculator__img,
.projects__masterming__img {
    width: 100%;
    height: auto;
    margin: 8px 0;
    border: solid 1px #FEFEFE;
}

.projects__ania-github {
    padding: 8px;
}

.projects__ania-github__link {
    border-radius: 2px;
    cursor: pointer;
}

.projects__ania-github__link:hover {
    background: #FEFEFE;
    color: #1A1A1A;
}

.contact-section {
    height: 100px;
    background-color: #FEFEFE;
}

.contact-section a {
    color: #1A1A1A;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    color: #FEFEFE;
    background-color: #1A1A1A;
    height: 10vh;
    font-weight: 400;
}

footer a {
    color: #FEFEFE;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

footer a:hover {
    background: #FEFEFE;
    color: #1A1A1A;
}

@media only screen and (min-width: 990px) {

    .navbar__links {
        font-size: 1.5em;
        font-weight: 400;
    }

    .profile__bio {
        flex-direction: row;
    }

    .profile__bio__anna {
        margin-right: 32px;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills__names {
        display: flex;
        justify-content: space-between;
    }

    .skills__header {
        text-align: left;
    }

    .skills__names ul {
        text-align: center;
        padding: 8px;
    }

    .projects__dish__images {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .projects__dish__images img {
        width: 30%;
        height: auto;
        margin: 8px;
    }

    .projects__dish__images img:first-child {
        margin-left: 0;
    }
}